* {
  padding: 0;
  margin: 0;
  color: #ffff00;
  text-shadow: white 1px 1px 2px; }

body {
  background: #fffff0; }

.img_container {
  float: left;
  height: 161px;
  width: 161px; }

#monogram {
  color: #fff;
  font-family: 'Gill Sans', 'Cantarell', Helvetica, sans;
  font-size: 56px;
  padding: 50px 0 0 0;
  margin: 0px auto auto 50px; }

#about p {
  font-family: 'Cantarell', Helvetica, sans;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 22px; }
#about p:last-child {
  margin-bottom: 0; }
#about a {
  font-weight: bold;
  text-decoration: none; }
#about a:hover {
  color: #990000;
  border-bottom: 1px solid #990000; }
#about span {
  font-weight: bold; }
